<div class="container body-content">
  <section class="home-page gridview">
    <ul class="list-unstyled list-manga row">
      <% @items.each {
          |item| %>
      <li class="item col-xs-6 col-sm-4">
        <div class="row">
          <div class="col-xs-12">
            <div class="ps-relative">
              <a href="<%= item["link"] %>">
                <img src="<%= item["img"] %>" alt="<%= item["title"] %>" class="img img-thumbnail">
              </a>
              <div class="title">
                <a href="<%= item["link"] %>"><%= item["title"] %></a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <% } %>
    </ul>
    <div class="row">
      <div class="col-md-12 text-center">
        <nav class="paging-new">
          <ul class="pagination paging list-unstyled">
            <li class=""><a href="/page-<%= @page-1 %>"><i class="glyphicon glyphicon-step-backward red narrow_button"></i></a></li>
            <li class=""><a href="/page-<%= @page+1 %>"><i class="glyphicon glyphicon-step-forward red narrow_button"></i></a></li>
          </ul>

        </nav>
      </div>
    </div>

  </section>

  <hr>

</div>